.entity-reference-tree-button,
.no-entity-reference-tree-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.entity-reference-tree-button {
  background-image: url('../images/bullet_toggle_minus.png');
}

.no-entity-reference-tree-button {
  background-color: #ddd;
}

.entity-reference-tree-button.entity-reference-tree-collapsed {
  background-image: url('../images/bullet_toggle_plus.png');
}

.form-type-checkbox-tree .error {
  background-image: none;
  border: 2px solid red;
  padding: 3px;
}

.region-content ul.entity-reference-tree-level,
.entity-reference-tree-level
{
  padding: 0;
}

/*
 * Styles for track list of selected options.
 */

.entity-reference-tree-track-list li {
  list-style-image: url("../images/bullet_delete.png");
  margin-left: 30px;
  min-height: 16px;
  cursor: pointer;
}

.entity-reference-tree-track-list li.entity_ref_tree_nothing_message {
  list-style-type: none;
  list-style-image: none;
  font-style: italic;
  cursor: default;
}

.entity-reference-track-list-container {
  padding: 5px;
}

.entity-reference-track-list-label {
  font-weight: bold;
}

/*
 * Styles for display element
 */

.field-type-taxonomy-entity-reference .selected {
  font-weight: bold;
}

.field-type-taxonomy-entity-reference .unselected {
  font-weight: normal;
}

.field-type-taxonomy-entity-reference ul {
  margin-top: 0;
}
